.container {
    text-align: center;
    height: 350px;
    background-color: #f6f6f6;
}
.input {
    padding: 3rem;
    display: flex;
    justify-content: center;
}    
.label {
        font-size: 0.9rem !important;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1.5px;
        color: #707070 !important;
        text-transform: uppercase !important;
        margin-left: 0.5rem !important;
}
button {
    margin-left: 2rem;
}
/* muiform */
.inputs {
    display: flex;
    flex-direction: row;
}
.input1 {
    padding: 1em
}
.input2 {
    padding: 1em
}
.radio {
    padding: 2em;
}
.select {
    margin-bottom: 1em;
}